# Env files
.env
.env.*
*.env

# macOS system files
.DS_Store

# Go binaries and builds
backend/server
server
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
